/*****************************************
****  Responsive very large and 4K devices
******************************************/

@include media('>desktop', '<=2560px') {


    #menuBtn {
        width: 60px;
        right: 50px;
    }

    h1 {
        font-size: 42px;
    }

    .btn-primary {
        padding: 20px 38px;
    }

    .square {
        width: 24px;
        height: 24px;
        margin: 15px 0;
    }

    p {
        font-size: 20px;
        line-height: 28px;
    }

    .line {
        line-height: 16px;

        .line-1 {
            width: 24px;
            height: 24px;
            background-color: $theme-pink;
            display: inline-block;
        }

        .line-2 {
            width: 120px;
            height: 1px;
            background-color: $theme-pink;
            display: inline-block;
        }

        .line-3 {
            width: 90px;
            height: 1px;
            background-color: $theme-pink;
            display: inline-block;
        }
    }

    #header {

        .brand-image {
            margin-top: 30px;
            width: 120px;
        }

        .header-text {
            max-width: 550px;
            margin-top: 130px;

            h1 {
                font-size: 48px;
            }

            p {
                text-align: justify;
            }

            button {
                margin-top: 40px;
                margin-bottom: 60px;
            }
        }
    }

    .social-icons {

        img {
            width: 24px;
            margin: 20px auto;
        }

        .vertical {
            height: 190px;
            left: 50%;
            top: -90%;
        }

        .vertical2 {
            left: 35%;
            bottom: -60%;
            font-size: 16px;
        }
    }

    #about,
    #offer {
        @include sectionPadding(120px);

        .about-right-col {

            .about-text {
                max-width: 650px;
            }
        }
    }

    #features {
        @include sectionPadding(100px);

        .features-row {

            .features-col {

                img {
                    width: 140px;
                }

                h4 {
                    margin-bottom: 20px;
                }
            }
        }
    }

    #course {
        @include sectionPadding(100px);

        .course-row {

            .course-left-col {
                flex-basis: 50%;

                .course-text {
                    max-width: 650px;
                }
            }
        }
    }

    #contact {
        @include sectionPadding(100px);

        .contact-row {

            .contact-left-col {
                form {
                    max-width: 600px;
                    margin: 30px 0;

                    input {
                        width: 96%;
                        padding: 16px 10px;
                    }

                    .button-box {
                        margin-top: 25px;

                        button {
                            flex-basis: 48%;
                            padding: 18px 0;
                        }
                    }
                }
            }
        }
    }

    #footer {
        padding: 50px 0 30px;

        .footer-row {

            .footer-right-col {

                .footer-info {

                    .copyright-text,
                    .footer-logo {
                        flex-basis: 40%;
                    }

                    .copyright-text {
                        padding-bottom: 30px;

                        small {
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }

                    .footer-logo {
                        img {
                            width: 100px;
                        }

                        button {
                            padding: 16px 40px;
                            margin-top: 20px;
                            font-size: 18px;
                        }
                    }
                }

            }
        }
    }

}