#features {
    padding: 50px 0;

    .features-row {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: justify;
        justify-content: space-around;
        flex-wrap: wrap;

        .features-col {
            flex-basis: 30%;
            text-align: center;

            img {
                width: 100px;
            }

            h4 {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 400;
            }
        }

        .features-btn {
            margin: 80px auto 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            .line {
                text-align: right;
                display: inline-block;
                margin-right: 25px;
            }
        }
    }
}